# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie

# Database
DB_CONNECTION=pg
PG_HOST=
PG_PORT=5432
PG_USER=
PG_PASSWORD=
PG_DB_NAME=SmartFest

# Mail
MAIL_MAILER=smtp
MAIL_FROM_ADDRESS=smartrace.noreply@gmail.com
MAIL_FROM_NAME=SmartFest
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=smartrace.noreply@gmail.com
SMTP_PASSWORD=key